<h1>Contributing</h1>
<h2>Can't find a cheatsheet for your language or tool?</h2>
<p>The creation and moderation of these cheatsheets is a community effort. Once you get up to speed on whatever subject you were looking for, consider contributing a cheatsheet to the <a href="https://github.com/adambard/learnxinyminutes-docs">learnxinyminutes-docs</a> repository.</p>
<h2>Having an issue with the extension itself?</h2>
<p>Submit an <a href="https://github.com/mujundi/vscode-learnxinyminutes/issues">issue</a> on GitHub, or if you find an issue and know the solution, feel free to fork this repo and submit a <a href="https://github.com/mujundi/vscode-learnxinyminutes/pulls">pull request</a>. The same goes for feature requests!</p>