<h1>MoonScript</h1>
<p>MoonScript is a dynamic scripting language that compiles into Lua. It gives<br>
you the power of one of the fastest scripting languages combined with a<br>
rich set of features.</p>
<p>See <a href="https://moonscript.org/" rel="nofollow">the MoonScript website</a> to see official guides on installation for all platforms.</p>
<div class="highlight highlight-source-moonscript"><pre class="notranslate"><span class="pl-c"><span class="pl-c">--</span> Two dashes start a comment. Comments can go until the end of the line.</span>
<span class="pl-c"><span class="pl-c">--</span> MoonScript transpiled to Lua does not keep comments.</span>

<span class="pl-c"><span class="pl-c">--</span> As a note, MoonScript does not use 'do', 'then', or 'end' like Lua would and</span>
<span class="pl-c"><span class="pl-c">--</span> instead uses an indented syntax, much like Python.</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 1. Assignment</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

hello <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span>
a<span class="pl-k">,</span> b<span class="pl-k">,</span> c <span class="pl-k">=</span> <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span>
hello <span class="pl-k">=</span> <span class="pl-c1">123</span> <span class="pl-c"><span class="pl-c">--</span> Overwrites `hello` from above.</span>

x <span class="pl-k">=</span> <span class="pl-c1">0</span>
x <span class="pl-k">+=</span> <span class="pl-c1">10</span> <span class="pl-c"><span class="pl-c">--</span> x = x + 10</span>

s <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>hello <span class="pl-pds">"</span></span>
s <span class="pl-k">..=</span> <span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> s = s .. "world"</span>

b <span class="pl-k">=</span> <span class="pl-c1">false</span>
b <span class="pl-k">and=</span> <span class="pl-c1">true</span> <span class="pl-k">or</span> <span class="pl-c1">false</span> <span class="pl-c"><span class="pl-c">--</span> b = b and (true or false)</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 2. Literals and Operators</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Literals work almost exactly as they would in Lua. Strings can be broken in</span>
<span class="pl-c"><span class="pl-c">--</span> the middle of a line without requiring a \.</span>

some_string <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>exa</span>
<span class="pl-s">mple<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> local some_string = "exa\nmple"</span>

<span class="pl-c"><span class="pl-c">--</span> Strings can also have interpolated values, or values that are evaluated and</span>
<span class="pl-c"><span class="pl-c">--</span> then placed inside of a string.</span>

some_string <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>This is an #{some_string}<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> Becomes 'This is an exa\nmple'</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 2.1. Function Literals</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Functions are written using arrows:</span>

my_function <span class="pl-k">=</span> <span class="pl-k">-&gt;</span> <span class="pl-c"><span class="pl-c">--</span> compiles to `function() end`</span>
my_function<span class="pl-en">()</span> <span class="pl-c"><span class="pl-c">--</span> calls an empty function</span>

<span class="pl-c"><span class="pl-c">--</span> Functions can be called without using parenthesis. Parentheses may still be</span>
<span class="pl-c"><span class="pl-c">--</span> used to have priority over other functions.</span>

func_a <span class="pl-k">=</span> <span class="pl-k">-&gt;</span> <span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>Hello World!<span class="pl-pds">"</span></span>
func_b <span class="pl-k">=</span> <span class="pl-k">-&gt;</span>
	value <span class="pl-k">=</span> <span class="pl-c1">100</span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>The value: #{value}<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> If a function needs no parameters, it can be called with either `()` or `!`.</span>

func_a!
func_b<span class="pl-en">()</span>

<span class="pl-c"><span class="pl-c">--</span> Functions can use arguments by preceding the arrow with a list of argument</span>
<span class="pl-c"><span class="pl-c">--</span> names bound by parentheses.</span>

sum <span class="pl-k">=</span> <span class="pl-en">(</span>x<span class="pl-k">,</span> y<span class="pl-en">)</span><span class="pl-k">-&gt;</span> x <span class="pl-k">+</span> y <span class="pl-c"><span class="pl-c">--</span> The last expression is returned from the function.</span>
<span class="pl-c1">print</span> sum<span class="pl-en">(</span><span class="pl-c1">5</span><span class="pl-k">,</span> <span class="pl-c1">10</span><span class="pl-en">)</span>

<span class="pl-c"><span class="pl-c">--</span> Lua has an idiom of sending the first argument to a function as the object,</span>
<span class="pl-c"><span class="pl-c">--</span> like a 'self' object. Using a fat arrow (=&gt;) instead of a skinny arrow (-&gt;)</span>
<span class="pl-c"><span class="pl-c">--</span> automatically creates a `self` variable. `@x` is a shorthand for `self.x`.</span>

func <span class="pl-k">=</span> <span class="pl-en">(</span>num<span class="pl-en">)</span><span class="pl-k">=&gt;</span> <span class="pl-v">@value</span> <span class="pl-k">+</span> num

<span class="pl-c"><span class="pl-c">--</span> Default arguments can also be used with function literals:</span>

a_function <span class="pl-k">=</span> <span class="pl-en">(</span>name <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>something<span class="pl-pds">"</span></span><span class="pl-k">,</span> height<span class="pl-k">=</span><span class="pl-c1">100</span><span class="pl-en">)</span><span class="pl-k">-&gt;</span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>Hello, I am #{name}.<span class="pl-cce">\n</span>My height is #{height}.<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> Because default arguments are calculated in the body of the function when</span>
<span class="pl-c"><span class="pl-c">--</span> transpiled to Lua, you can reference previous arguments.</span>

some_args <span class="pl-k">=</span> <span class="pl-en">(</span>x <span class="pl-k">=</span> <span class="pl-c1">100</span><span class="pl-k">,</span> y <span class="pl-k">=</span> x <span class="pl-k">+</span> <span class="pl-c1">1000</span><span class="pl-en">)</span><span class="pl-k">-&gt;</span> <span class="pl-c1">print</span><span class="pl-en">(</span>x <span class="pl-k">+</span> y<span class="pl-en">)</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> Considerations</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> The minus sign plays two roles, a unary negation operator and a binary</span>
<span class="pl-c"><span class="pl-c">--</span> subtraction operator. It is recommended to always use spaces between binary</span>
<span class="pl-c"><span class="pl-c">--</span> operators to avoid the possible collision.</span>

a <span class="pl-k">=</span> x <span class="pl-k">-</span> <span class="pl-c1">10</span> <span class="pl-c"><span class="pl-c">--</span>  a = x - 10</span>
b <span class="pl-k">=</span> x<span class="pl-k">-</span><span class="pl-c1">10</span> <span class="pl-c"><span class="pl-c">--</span> b = x - 10</span>
c <span class="pl-k">=</span> x <span class="pl-k">-</span>y <span class="pl-c"><span class="pl-c">--</span> c = x(-y)</span>
d <span class="pl-k">=</span> x<span class="pl-k">-</span> z <span class="pl-c"><span class="pl-c">--</span> d = x - z</span>

<span class="pl-c"><span class="pl-c">--</span> When there is no space between a variable and string literal, the function</span>
<span class="pl-c"><span class="pl-c">--</span> call takes priority over following expressions:</span>

x <span class="pl-k">=</span> func<span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span> <span class="pl-k">+</span> <span class="pl-c1">100</span> <span class="pl-c"><span class="pl-c">--</span> func("hello") + 100</span>
y <span class="pl-k">=</span> func <span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span> <span class="pl-k">+</span> <span class="pl-c1">100</span> <span class="pl-c"><span class="pl-c">--</span> func("hello" + 100)</span>

<span class="pl-c"><span class="pl-c">--</span> Arguments to a function can span across multiple lines as long as the</span>
<span class="pl-c"><span class="pl-c">--</span> arguments are indented. The indentation can be nested as well.</span>

my_func <span class="pl-c1">5</span><span class="pl-k">,</span> <span class="pl-c"><span class="pl-c">--</span> called as my_func(5, 8, another_func(6, 7, 9, 1, 2), 5, 4)</span>
	<span class="pl-c1">8</span><span class="pl-k">,</span> another_func <span class="pl-c1">6</span><span class="pl-k">,</span> <span class="pl-c1">7</span><span class="pl-k">,</span> <span class="pl-c"><span class="pl-c">--</span> called as</span>
		<span class="pl-c1">9</span><span class="pl-k">,</span> <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span>		  <span class="pl-c"><span class="pl-c">--</span> another_func(6, 7, 9, 1, 2)</span>
	<span class="pl-c1">5</span><span class="pl-k">,</span> <span class="pl-c1">4</span>

<span class="pl-c"><span class="pl-c">--</span> If a function is used at the start of a block, the indentation can be</span>
<span class="pl-c"><span class="pl-c">--</span> different than the level of indentation used in a block:</span>

<span class="pl-k">if</span> func <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span><span class="pl-k">,</span> <span class="pl-c"><span class="pl-c">--</span> called as func(1, 2, 3, "hello", "world")</span>
		<span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span><span class="pl-k">,</span>
		<span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 3. Tables</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Tables are defined by curly braces, like Lua:</span>

some_values <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span><span class="pl-k">,</span> <span class="pl-c1">4</span><span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Tables can use newlines instead of commas.</span>

some_other_values <span class="pl-k">=</span> <span class="pl-k">{</span>
	<span class="pl-c1">5</span><span class="pl-k">,</span> <span class="pl-c1">6</span>
	<span class="pl-c1">7</span><span class="pl-k">,</span> <span class="pl-c1">8</span>
<span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Assignment is done with `:` instead of `=`:</span>

profile <span class="pl-k">=</span> <span class="pl-k">{</span>
	<span class="pl-en">name</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>Bill<span class="pl-pds">"</span></span>
	<span class="pl-en">age</span><span class="pl-k">:</span> <span class="pl-c1">200</span>
	<span class="pl-s"><span class="pl-pds">"</span>favorite food<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>rice<span class="pl-pds">"</span></span>
<span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Curly braces can be left off for `key: value` tables.</span>

y <span class="pl-k">=</span> <span class="pl-en">type</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>dog<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-en">legs</span><span class="pl-k">:</span> <span class="pl-c1">4</span><span class="pl-k">,</span> <span class="pl-en">tails</span><span class="pl-k">:</span> <span class="pl-c1">1</span>

profile <span class="pl-k">=</span>
	<span class="pl-en">height</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>4 feet<span class="pl-pds">"</span></span><span class="pl-k">,</span>
	<span class="pl-en">shoe_size</span><span class="pl-k">:</span> <span class="pl-c1">13</span><span class="pl-k">,</span>
	<span class="pl-en">favorite_foods</span><span class="pl-k">:</span> <span class="pl-c"><span class="pl-c">--</span> nested table</span>
		<span class="pl-en">foo</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>ice cream<span class="pl-pds">"</span></span><span class="pl-k">,</span> 
		<span class="pl-en">bar</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>donuts<span class="pl-pds">"</span></span>

my_function <span class="pl-en">dance</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>Tango<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-en">partner</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>none<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> :( forever alone</span>

<span class="pl-c"><span class="pl-c">--</span> Tables constructed from variables can use the same name as the variables</span>
<span class="pl-c"><span class="pl-c">--</span> by using `:` as a prefix operator.</span>

hair <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>golden<span class="pl-pds">"</span></span>
height <span class="pl-k">=</span> <span class="pl-c1">200</span>
person <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-k">:</span>hair<span class="pl-k">,</span> <span class="pl-k">:</span>height<span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Like in Lua, keys can be non-string or non-numeric values by using `[]`.</span>

t <span class="pl-k">=</span>
	<span class="pl-k">[</span><span class="pl-c1">1</span> <span class="pl-k">+</span> <span class="pl-c1">2</span><span class="pl-k">]</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span>
	<span class="pl-s"><span class="pl-pds">"</span>hello world<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">true</span> <span class="pl-c"><span class="pl-c">--</span> Can use string literals without `[]`.</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 3.1. Table Comprehensions</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> List Comprehensions</span>

<span class="pl-c"><span class="pl-c">--</span> Creates a copy of a list but with all items doubled. Using a star before a</span>
<span class="pl-c"><span class="pl-c">--</span> variable name or table can be used to iterate through the table's values.</span>

items <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span><span class="pl-k">,</span> <span class="pl-c1">4</span><span class="pl-k">}</span>
doubled <span class="pl-k">=</span> <span class="pl-k">[</span>item <span class="pl-k">*</span> <span class="pl-c1">2</span> <span class="pl-k">for</span> item <span class="pl-k">in</span> <span class="pl-k">*</span>items<span class="pl-k">]</span>
<span class="pl-c"><span class="pl-c">--</span> Uses `when` to determine if a value should be included.</span>

slice <span class="pl-k">=</span> <span class="pl-k">[</span>item <span class="pl-k">for</span> item <span class="pl-k">in</span> <span class="pl-k">*</span>items <span class="pl-k">when</span> item <span class="pl-k">&gt;</span> <span class="pl-c1">1</span> <span class="pl-k">and</span> item <span class="pl-k">&lt;</span> <span class="pl-c1">3</span><span class="pl-k">]</span>

<span class="pl-c"><span class="pl-c">--</span> `for` clauses inside of list comprehensions can be chained.</span>

x_coords <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-c1">4</span><span class="pl-k">,</span> <span class="pl-c1">5</span><span class="pl-k">,</span> <span class="pl-c1">6</span><span class="pl-k">,</span> <span class="pl-c1">7</span><span class="pl-k">}</span>
y_coords <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-c1">9</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span><span class="pl-k">}</span>

points <span class="pl-k">=</span> <span class="pl-k">[{</span>x<span class="pl-k">,</span>y<span class="pl-k">}</span> <span class="pl-k">for</span> x <span class="pl-k">in</span> <span class="pl-k">*</span>x_coords <span class="pl-k">for</span> y <span class="pl-k">in</span> <span class="pl-k">*</span>y_coords<span class="pl-k">]</span>

<span class="pl-c"><span class="pl-c">--</span> Numeric for loops can also be used in comprehensions:</span>

evens <span class="pl-k">=</span> <span class="pl-k">[</span>i <span class="pl-k">for</span> i<span class="pl-k">=</span><span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">100</span> <span class="pl-k">when</span> i <span class="pl-k">%</span> <span class="pl-c1">2</span> <span class="pl-k">==</span> <span class="pl-c1">0</span><span class="pl-k">]</span>

<span class="pl-c"><span class="pl-c">--</span> Table Comprehensions are very similar but use `{` and `}` and take two</span>
<span class="pl-c"><span class="pl-c">--</span> values for each iteration.</span>

thing <span class="pl-k">=</span> <span class="pl-en">color</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>red<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-en">name</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>thing<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-en">width</span><span class="pl-k">:</span> <span class="pl-c1">123</span>
thing_copy <span class="pl-k">=</span> <span class="pl-k">{</span>k<span class="pl-k">,</span> v <span class="pl-k">for</span> k<span class="pl-k">,</span> v <span class="pl-k">in</span> <span class="pl-c1">pairs</span> thing<span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Tables can be "flattened" from key-value pairs in an array by using `unpack`</span>
<span class="pl-c"><span class="pl-c">--</span> to return both values, using the first as the key and the second as the</span>
<span class="pl-c"><span class="pl-c">--</span> value.</span>

tuples <span class="pl-k">=</span> <span class="pl-k">{{</span><span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span><span class="pl-k">}</span><span class="pl-k">,</span> <span class="pl-k">{</span><span class="pl-s"><span class="pl-pds">"</span>foo<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>bar<span class="pl-pds">"</span></span><span class="pl-k">}}</span>
table <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-c1">unpack</span> tuple <span class="pl-k">for</span> tuple <span class="pl-k">in</span> <span class="pl-k">*</span>tuples<span class="pl-k">}</span>

<span class="pl-c"><span class="pl-c">--</span> Slicing can be done to iterate over only a certain section of an array. It</span>
<span class="pl-c"><span class="pl-c">--</span> uses the `*` notation for iterating but appends `[start, end, step]`.</span>

<span class="pl-c"><span class="pl-c">--</span> The next example also shows that this syntax can be used in a `for` loop as</span>
<span class="pl-c"><span class="pl-c">--</span> well as any comprehensions.</span>

<span class="pl-k">for</span> item <span class="pl-k">in</span> <span class="pl-k">*</span>points<span class="pl-k">[</span><span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">10</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">]</span>
	<span class="pl-c1">print</span> <span class="pl-c1">unpack</span> item

<span class="pl-c"><span class="pl-c">--</span> Any undesired values can be left off. The second comma is not required if</span>
<span class="pl-c"><span class="pl-c">--</span> the step is not included.</span>

words <span class="pl-k">=</span> <span class="pl-k">{</span><span class="pl-s"><span class="pl-pds">"</span>these<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>are<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>some<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>words<span class="pl-pds">"</span></span><span class="pl-k">}</span>
<span class="pl-k">for</span> word <span class="pl-k">in</span> <span class="pl-k">*</span>words<span class="pl-k">[</span><span class="pl-k">,</span><span class="pl-c1">3</span><span class="pl-k">]</span> 
	<span class="pl-c1">print</span> word

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 4. Control Structures</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

have_coins <span class="pl-k">=</span> <span class="pl-c1">false</span>
<span class="pl-k">if</span> have_coins
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>Got coins<span class="pl-pds">"</span></span>
<span class="pl-k">else</span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>No coins<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> Use `then` for single-line `if`</span>
<span class="pl-k">if</span> have_coins <span class="pl-k">then</span> <span class="pl-s"><span class="pl-pds">"</span>Got coins<span class="pl-pds">"</span></span> <span class="pl-k">else</span> <span class="pl-s"><span class="pl-pds">"</span>No coins<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> `unless` is the opposite of `if`</span>
<span class="pl-k">unless</span> <span class="pl-c1">os.date</span><span class="pl-en">(</span><span class="pl-s"><span class="pl-pds">"</span>%A<span class="pl-pds">"</span></span><span class="pl-en">)</span> <span class="pl-k">==</span> <span class="pl-s"><span class="pl-pds">"</span>Monday<span class="pl-pds">"</span></span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>It is not Monday!<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> `if` and `unless` can be used as expressions</span>
is_tall <span class="pl-k">=</span> <span class="pl-en">(</span>name<span class="pl-en">)</span><span class="pl-k">-&gt;</span> <span class="pl-k">if</span> name <span class="pl-k">==</span> <span class="pl-s"><span class="pl-pds">"</span>Rob<span class="pl-pds">"</span></span> <span class="pl-k">then</span> <span class="pl-c1">true</span> <span class="pl-k">else</span> <span class="pl-c1">false</span>
message <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>I am #{if is_tall <span class="pl-pds">"</span></span><span class="pl-c1">Rob</span><span class="pl-s"><span class="pl-pds">"</span> then <span class="pl-pds">"</span></span>very tall<span class="pl-s"><span class="pl-pds">"</span> else <span class="pl-pds">"</span></span><span class="pl-k">not</span> so tall<span class="pl-s"><span class="pl-pds">"</span>}<span class="pl-pds">"</span></span>
<span class="pl-c1">print</span> message <span class="pl-c"><span class="pl-c">--</span> "I am very tall"</span>

<span class="pl-c"><span class="pl-c">--</span> `if`, `elseif`, and `unless` can evaluate assignment as well as expressions.</span>
<span class="pl-k">if</span> x <span class="pl-k">=</span> possibly_nil! <span class="pl-c"><span class="pl-c">--</span> sets `x` to `possibly_nil()` and evaluates `x`</span>
	<span class="pl-c1">print</span> x

<span class="pl-c"><span class="pl-c">--</span> Conditionals can be used after a statement as well as before. This is</span>
<span class="pl-c"><span class="pl-c">--</span> called a "line decorator".</span>

is_monday <span class="pl-k">=</span> <span class="pl-c1">os.date</span><span class="pl-en">(</span><span class="pl-s"><span class="pl-pds">"</span>%A<span class="pl-pds">"</span></span><span class="pl-en">)</span> <span class="pl-k">==</span> <span class="pl-s"><span class="pl-pds">"</span>Monday<span class="pl-pds">"</span></span>
<span class="pl-c1">print</span><span class="pl-en">(</span><span class="pl-s"><span class="pl-pds">"</span>It IS Monday!<span class="pl-pds">"</span></span><span class="pl-en">)</span> <span class="pl-k">if</span> isMonday
<span class="pl-c1">print</span><span class="pl-en">(</span><span class="pl-s"><span class="pl-pds">"</span>It is not Monday..<span class="pl-pds">"</span></span><span class="pl-en">)</span> <span class="pl-k">unless</span> isMonday
<span class="pl-c"><span class="pl-c">--</span>print("It IS Monday!" if isMonday) -- Not a statement, does not work</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 4.1 Loops</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-k">for</span> i <span class="pl-k">=</span> <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">10</span>
	<span class="pl-c1">print</span> i

<span class="pl-k">for</span> i <span class="pl-k">=</span> <span class="pl-c1">10</span><span class="pl-k">,</span> <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-k">-</span><span class="pl-c1">1</span> <span class="pl-k">do</span> <span class="pl-c1">print</span> i <span class="pl-c"><span class="pl-c">--</span> Use `do` for single-line loops.</span>

i <span class="pl-k">=</span> <span class="pl-c1">0</span>
<span class="pl-k">while</span> i <span class="pl-k">&lt;</span> <span class="pl-c1">10</span>
	<span class="pl-k">continue</span> <span class="pl-k">if</span> i <span class="pl-k">%</span> <span class="pl-c1">2</span> <span class="pl-k">==</span> <span class="pl-c1">0</span> <span class="pl-c"><span class="pl-c">--</span> Continue statement; skip the rest of the loop.</span>
	<span class="pl-c1">print</span> i

<span class="pl-c"><span class="pl-c">--</span> Loops can be used as a line decorator, just like conditionals</span>
<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>item: #{item}<span class="pl-pds">"</span></span> <span class="pl-k">for</span> item <span class="pl-k">in</span> <span class="pl-k">*</span>items

<span class="pl-c"><span class="pl-c">--</span> Using loops as an expression generates an array table. The last statement</span>
<span class="pl-c"><span class="pl-c">--</span> in the block is coerced into an expression and added to the table.</span>
my_numbers <span class="pl-k">=</span> <span class="pl-k">for</span> i <span class="pl-k">=</span> <span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">6</span> <span class="pl-k">do</span> i <span class="pl-c"><span class="pl-c">--</span> {1, 2, 3, 4, 5, 6}</span>

<span class="pl-c"><span class="pl-c">--</span> use `continue` to filter out values</span>
odds <span class="pl-k">=</span> <span class="pl-k">for</span> i <span class="pl-k">in</span> <span class="pl-k">*</span>my_numbers
	<span class="pl-k">continue</span> <span class="pl-k">if</span> i <span class="pl-k">%</span> <span class="pl-c1">2</span> <span class="pl-k">==</span> <span class="pl-c1">0</span> <span class="pl-c"><span class="pl-c">--</span> acts opposite to `when` in comprehensions!</span>
	i <span class="pl-c"><span class="pl-c">--</span> Only added to return table if odd</span>

<span class="pl-c"><span class="pl-c">--</span> A `for` loop returns `nil` when it is the last statement of a function</span>
<span class="pl-c"><span class="pl-c">--</span> Use an explicit `return` to generate a table.</span>
print_squared <span class="pl-k">=</span> <span class="pl-en">(</span>t<span class="pl-en">)</span> <span class="pl-k">-&gt;</span> <span class="pl-k">for</span> x <span class="pl-k">in</span> <span class="pl-k">*</span>t <span class="pl-k">do</span> x<span class="pl-k">*</span>x <span class="pl-c"><span class="pl-c">--</span> returns `nil`</span>
squared <span class="pl-k">=</span> <span class="pl-en">(</span>t<span class="pl-en">)</span> <span class="pl-k">-&gt;</span> <span class="pl-k">return</span> <span class="pl-k">for</span> x <span class="pl-k">in</span> <span class="pl-k">*</span>t <span class="pl-k">do</span> x<span class="pl-k">*</span>x <span class="pl-c"><span class="pl-c">--</span> returns new table of squares</span>

<span class="pl-c"><span class="pl-c">--</span> The following does the same as `(t) -&gt; [i for i in *t when i % 2 == 0]`</span>
<span class="pl-c"><span class="pl-c">--</span> But list comprehension generates better code and is more readable!</span>

filter_odds <span class="pl-k">=</span> <span class="pl-en">(</span>t<span class="pl-en">)</span> <span class="pl-k">-&gt;</span> 
	<span class="pl-k">return</span> <span class="pl-k">for</span> x <span class="pl-k">in</span> <span class="pl-k">*</span>t
		<span class="pl-k">if</span> x <span class="pl-k">%</span> <span class="pl-c1">2</span> <span class="pl-k">==</span> <span class="pl-c1">0</span> <span class="pl-k">then</span> x <span class="pl-k">else</span> <span class="pl-k">continue</span>
evens <span class="pl-k">=</span> filter_odds<span class="pl-en">(</span>my_numbers<span class="pl-en">)</span> <span class="pl-c"><span class="pl-c">--</span> {2, 4, 6}</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 4.2 Switch Statements</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Switch statements are a shorthand way of writing multiple `if` statements</span>
<span class="pl-c"><span class="pl-c">--</span> checking against the same value. The value is only evaluated once.</span>

name <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Dan<span class="pl-pds">"</span></span>

<span class="pl-k">switch</span> name
	<span class="pl-k">when</span> <span class="pl-s"><span class="pl-pds">"</span>Dave<span class="pl-pds">"</span></span>
		<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>You are Dave.<span class="pl-pds">"</span></span>
	<span class="pl-k">when</span> <span class="pl-s"><span class="pl-pds">"</span>Dan<span class="pl-pds">"</span></span>
		<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>You are not Dave, but Dan.<span class="pl-pds">"</span></span>
	<span class="pl-k">else</span>
		<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>You are neither Dave nor Dan.<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> Switches can also be used as expressions, as well as compare multiple</span>
<span class="pl-c"><span class="pl-c">--</span> values. The values can be on the same line as the `when` clause if they</span>
<span class="pl-c"><span class="pl-c">--</span> are only one expression.</span>

b <span class="pl-k">=</span> <span class="pl-c1">4</span>
next_even <span class="pl-k">=</span> <span class="pl-k">switch</span> b
	<span class="pl-k">when</span> <span class="pl-c1">1</span> <span class="pl-k">then</span> <span class="pl-c1">2</span>
	<span class="pl-k">when</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span> <span class="pl-k">then</span> <span class="pl-c1">4</span>
	<span class="pl-k">when</span> <span class="pl-c1">4</span><span class="pl-k">,</span> <span class="pl-c1">5</span> <span class="pl-k">then</span> <span class="pl-c1">6</span>
	<span class="pl-k">else</span> <span class="pl-c1">error</span> <span class="pl-s"><span class="pl-pds">"</span>I can't count that high! D:<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 5. Object Oriented Programming</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Classes are created using the `class` keyword followed by an identifier,</span>
<span class="pl-c"><span class="pl-c">--</span> typically written using CamelCase. Values specific to a class can use @ as</span>
<span class="pl-c"><span class="pl-c">--</span> the identifier instead of `self.value`.</span>

<span class="pl-k">class</span> <span class="pl-c1">Inventory</span>
	<span class="pl-en">new</span><span class="pl-k">:</span> <span class="pl-k">=&gt;</span> <span class="pl-v">@items</span> <span class="pl-k">=</span> <span class="pl-k">{}</span>
	<span class="pl-en">add_item</span><span class="pl-k">:</span> <span class="pl-en">(</span>name<span class="pl-en">)</span><span class="pl-k">=&gt;</span> <span class="pl-c"><span class="pl-c">--</span> note the use of fat arrow for classes!</span>
		<span class="pl-v">@items</span><span class="pl-k">[</span>name<span class="pl-k">]</span> <span class="pl-k">=</span> <span class="pl-c1">0</span> <span class="pl-k">unless</span> <span class="pl-v">@items</span><span class="pl-k">[</span>name<span class="pl-k">]</span>
		<span class="pl-v">@items</span><span class="pl-k">[</span>name<span class="pl-k">]</span> <span class="pl-k">+=</span> <span class="pl-c1">1</span>

<span class="pl-c"><span class="pl-c">--</span> The `new` function inside of a class is special because it is called when</span>
<span class="pl-c"><span class="pl-c">--</span> an instance of the class is created.</span>

<span class="pl-c"><span class="pl-c">--</span> Creating an instance of the class is as simple as calling the class as a</span>
<span class="pl-c"><span class="pl-c">--</span> function. Calling functions inside of the class uses \ to separate the</span>
<span class="pl-c"><span class="pl-c">--</span> instance from the function it is calling.</span>

inv <span class="pl-k">=</span> <span class="pl-c1">Inventory</span>!
inv<span class="pl-k">\</span>add_item <span class="pl-s"><span class="pl-pds">"</span>t-shirt<span class="pl-pds">"</span></span>
inv<span class="pl-k">\</span>add_item <span class="pl-s"><span class="pl-pds">"</span>pants<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> Values defined in the class - not the new() function - will be shared across</span>
<span class="pl-c"><span class="pl-c">--</span> all instances of the class.</span>

<span class="pl-k">class</span> <span class="pl-c1">Person</span>
	<span class="pl-en">clothes</span><span class="pl-k">:</span> <span class="pl-k">{}</span>
	<span class="pl-en">give_item</span><span class="pl-k">:</span> <span class="pl-en">(</span>name<span class="pl-en">)</span><span class="pl-k">=&gt;</span>
		<span class="pl-c1">table.insert</span> <span class="pl-v">@clothes</span> name

a <span class="pl-k">=</span> <span class="pl-c1">Person</span>!
b <span class="pl-k">=</span> <span class="pl-c1">Person</span>!

a<span class="pl-k">\</span>give_item <span class="pl-s"><span class="pl-pds">"</span>pants<span class="pl-pds">"</span></span>
b<span class="pl-k">\</span>give_item <span class="pl-s"><span class="pl-pds">"</span>shirt<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> prints out both "pants" and "shirt"</span>

<span class="pl-c1">print</span> item <span class="pl-k">for</span> item <span class="pl-k">in</span> <span class="pl-k">*</span>a<span class="pl-k">.</span>clothes

<span class="pl-c"><span class="pl-c">--</span> Class instances have a value `.__class` that are equal to the class object</span>
<span class="pl-c"><span class="pl-c">--</span> that created the instance.</span>

<span class="pl-c1">assert</span><span class="pl-en">(</span>b<span class="pl-k">.</span>__class <span class="pl-k">==</span> <span class="pl-c1">Person</span><span class="pl-en">)</span>

<span class="pl-c"><span class="pl-c">--</span> Variables declared in class body the using the `=` operator are locals,</span>
<span class="pl-c"><span class="pl-c">--</span> so these "private" variables are only accessible within the current scope.</span>

<span class="pl-k">class</span> <span class="pl-c1">SomeClass</span>
	x <span class="pl-k">=</span> <span class="pl-c1">0</span>
	<span class="pl-en">reveal</span><span class="pl-k">:</span> <span class="pl-k">-&gt;</span>
		x <span class="pl-k">+=</span> <span class="pl-c1">1</span>
		<span class="pl-c1">print</span> x

a <span class="pl-k">=</span> <span class="pl-c1">SomeClass</span>!
b <span class="pl-k">=</span> <span class="pl-c1">SomeClass</span>!
<span class="pl-c1">print</span> a<span class="pl-k">.</span>x <span class="pl-c"><span class="pl-c">--</span> nil</span>
a<span class="pl-k">.</span>reveal! <span class="pl-c"><span class="pl-c">--</span> 1</span>
b<span class="pl-k">.</span>reveal! <span class="pl-c"><span class="pl-c">--</span> 2</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 5.1 Inheritance</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> The `extends` keyword can be used to inherit properties and methods from</span>
<span class="pl-c"><span class="pl-c">--</span> another class.</span>

<span class="pl-k">class</span> <span class="pl-c1">Backpack</span> <span class="pl-k">extends</span> <span class="pl-c1">Inventory</span>
	<span class="pl-en">size</span><span class="pl-k">:</span> <span class="pl-c1">10</span>
	<span class="pl-en">add_item</span><span class="pl-k">:</span> <span class="pl-en">(</span>name<span class="pl-en">)</span><span class="pl-k">=&gt;</span>
		<span class="pl-c1">error</span> <span class="pl-s"><span class="pl-pds">"</span>backpack is full<span class="pl-pds">"</span></span> <span class="pl-k">if</span> <span class="pl-k">#</span><span class="pl-v">@items</span> <span class="pl-k">&gt;</span> <span class="pl-v">@size</span>
		<span class="pl-k">super</span> name <span class="pl-c"><span class="pl-c">--</span> calls Inventory.add_item with `name`.</span>

<span class="pl-c"><span class="pl-c">--</span> Because a `new` method was not added, the `new` method from `Inventory` will</span>
<span class="pl-c"><span class="pl-c">--</span> be used instead. If we did want to use a constructor while still using the</span>
<span class="pl-c"><span class="pl-c">--</span> constructor from `Inventory`, we could use the magical `super` function</span>
<span class="pl-c"><span class="pl-c">--</span> during `new()`.</span>

<span class="pl-c"><span class="pl-c">--</span> When a class extends another, it calls the method `__inherited` on the </span>
<span class="pl-c"><span class="pl-c">--</span> parent class (if it exists). It is always called with the parent and the</span>
<span class="pl-c"><span class="pl-c">--</span> child object.</span>

<span class="pl-k">class</span> <span class="pl-c1">ParentClass</span>
	<span class="pl-v">@__inherited</span><span class="pl-k">:</span> <span class="pl-en">(</span>child<span class="pl-en">)</span><span class="pl-k">=&gt;</span>
		<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>#{@__name} was inherited by #{child.__name}<span class="pl-pds">"</span></span>
	<span class="pl-en">a_method</span><span class="pl-k">:</span> <span class="pl-en">(</span>a<span class="pl-k">,</span> b<span class="pl-en">)</span> <span class="pl-k">=&gt;</span> <span class="pl-c1">print</span> a <span class="pl-k">..</span> <span class="pl-s"><span class="pl-pds">'</span> <span class="pl-pds">'</span></span> <span class="pl-k">..</span> b

<span class="pl-c"><span class="pl-c">--</span> Will print 'ParentClass was inherited by MyClass'</span>

<span class="pl-k">class</span> <span class="pl-c1">MyClass</span> <span class="pl-k">extends</span> <span class="pl-c1">ParentClass</span>
	<span class="pl-en">a_method</span><span class="pl-k">:</span> <span class="pl-k">=&gt;</span>
		<span class="pl-k">super</span> <span class="pl-s"><span class="pl-pds">"</span>hello world<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>from MyClass!<span class="pl-pds">"</span></span> 
		<span class="pl-c1">assert</span> <span class="pl-k">super</span> <span class="pl-k">==</span> <span class="pl-c1">ParentClass</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 6. Scope</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> All values are local by default. The `export` keyword can be used to</span>
<span class="pl-c"><span class="pl-c">--</span> declare the variable as a global value.</span>

<span class="pl-k">export</span> var_1<span class="pl-k">,</span> var_2
var_1<span class="pl-k">,</span> var_3 <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> var_3 is local, var_1 is not.</span>

<span class="pl-k">export</span> this_is_global_assignment <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Hi!<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span> Classes can also be prefixed with `export` to make them global classes.</span>
<span class="pl-c"><span class="pl-c">--</span> Alternatively, all CamelCase variables can be exported automatically using</span>
<span class="pl-c"><span class="pl-c">--</span> `export ^`, and all values can be exported using `export *`.</span>

<span class="pl-c"><span class="pl-c">--</span> `do` lets you manually create a scope, for when you need local variables.</span>

<span class="pl-k">do</span>
	x <span class="pl-k">=</span> <span class="pl-c1">5</span>
<span class="pl-c1">print</span> x <span class="pl-c"><span class="pl-c">--</span> nil</span>

<span class="pl-c"><span class="pl-c">--</span> Here we use `do` as an expression to create a closure.</span>

counter <span class="pl-k">=</span> <span class="pl-k">do</span> 
	i <span class="pl-k">=</span> <span class="pl-c1">0</span>
	<span class="pl-k">-&gt;</span>
		i <span class="pl-k">+=</span> <span class="pl-c1">1</span>
		<span class="pl-k">return</span> i

<span class="pl-c1">print</span> counter!  <span class="pl-c"><span class="pl-c">--</span> 1</span>
<span class="pl-c1">print</span> counter!  <span class="pl-c"><span class="pl-c">--</span> 2</span>

<span class="pl-c"><span class="pl-c">--</span> The `local` keyword can be used to define variables</span>
<span class="pl-c"><span class="pl-c">--</span> before they are assigned.</span>

<span class="pl-k">local</span> var_4
<span class="pl-k">if</span> something
	var_4 <span class="pl-k">=</span> <span class="pl-c1">1</span>
<span class="pl-c1">print</span> var_4 <span class="pl-c"><span class="pl-c">--</span> works because `var_4` was set in this scope, not the `if` scope.</span>

<span class="pl-c"><span class="pl-c">--</span> The `local` keyword can also be used to shadow an existing variable.</span>

x <span class="pl-k">=</span> <span class="pl-c1">10</span>
<span class="pl-k">if</span> <span class="pl-c1">false</span>
	<span class="pl-k">local</span> x
	x <span class="pl-k">=</span> <span class="pl-c1">12</span>
<span class="pl-c1">print</span> x <span class="pl-c"><span class="pl-c">--</span> 10</span>

<span class="pl-c"><span class="pl-c">--</span> Use `local *` to forward-declare all variables. </span>
<span class="pl-c"><span class="pl-c">--</span> Alternatively, use `local ^` to forward-declare all CamelCase values.</span>

<span class="pl-k">local</span> <span class="pl-k">*</span>

first <span class="pl-k">=</span> <span class="pl-k">-&gt;</span>
	second!

second <span class="pl-k">=</span> <span class="pl-k">-&gt;</span>
	<span class="pl-c1">print</span> data

data <span class="pl-k">=</span> <span class="pl-k">{}</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 6.1 Import</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Values from a table can be brought to the current scope using the `import`</span>
<span class="pl-c"><span class="pl-c">--</span> and `from` keyword. Names in the `import` list can be preceded by `\` if</span>
<span class="pl-c"><span class="pl-c">--</span> they are a module function.</span>

<span class="pl-k">import</span> insert <span class="pl-k">from</span> table <span class="pl-c"><span class="pl-c">--</span> local insert = table.insert</span>
<span class="pl-k">import</span> <span class="pl-k">\</span>add <span class="pl-k">from</span> <span class="pl-en">state</span><span class="pl-k">:</span> <span class="pl-c1">100</span><span class="pl-k">,</span> <span class="pl-en">add</span><span class="pl-k">:</span> <span class="pl-en">(</span>value<span class="pl-en">)</span><span class="pl-k">=&gt;</span> <span class="pl-v">@state</span> <span class="pl-k">+</span> value
<span class="pl-c1">print</span> add <span class="pl-c1">22</span>

<span class="pl-c"><span class="pl-c">--</span> Like tables, commas can be excluded from `import` lists to allow for longer</span>
<span class="pl-c"><span class="pl-c">--</span> lists of imported items.</span>

<span class="pl-k">import</span>
	asdf<span class="pl-k">,</span> gh<span class="pl-k">,</span> jkl
	antidisestablishmentarianism
	<span class="pl-k">from</span> <span class="pl-k">{}</span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 6.2 With</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> The `with` statement can be used to quickly call and assign values in an</span>
<span class="pl-c"><span class="pl-c">--</span> instance of a class or object.</span>

file <span class="pl-k">=</span> <span class="pl-k">with</span> <span class="pl-c1">File</span> <span class="pl-s"><span class="pl-pds">"</span>lmsi15m.moon<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> `file` is the value of `set_encoding()`.</span>
	<span class="pl-k">\</span>set_encoding <span class="pl-s"><span class="pl-pds">"</span>utf8<span class="pl-pds">"</span></span>

create_person <span class="pl-k">=</span> <span class="pl-en">(</span>name<span class="pl-k">,</span> relatives<span class="pl-en">)</span><span class="pl-k">-&gt;</span>
	<span class="pl-k">with</span> <span class="pl-c1">Person</span>!
		<span class="pl-k">.</span>name <span class="pl-k">=</span> name
		<span class="pl-k">\</span>add_relative relative <span class="pl-k">for</span> relative <span class="pl-k">in</span> <span class="pl-k">*</span>relatives
me <span class="pl-k">=</span> create_person <span class="pl-s"><span class="pl-pds">"</span>Ryan<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-k">{</span><span class="pl-s"><span class="pl-pds">"</span>sister<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>sister<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>brother<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>dad<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>mother<span class="pl-pds">"</span></span><span class="pl-k">}</span>

<span class="pl-k">with</span> str <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Hello<span class="pl-pds">"</span></span> <span class="pl-c"><span class="pl-c">--</span> assignment as expression! :D</span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>original: #{str}<span class="pl-pds">"</span></span>
	<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>upper: #{<span class="pl-cce">\u</span>pper!}<span class="pl-pds">"</span></span>

<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>
<span class="pl-c"><span class="pl-c">--</span> 6.3 Destructuring</span>
<span class="pl-c"><span class="pl-c">--</span>------------------------------------------------</span>

<span class="pl-c"><span class="pl-c">--</span> Destructuring can take arrays, tables, and nested tables and convert them</span>
<span class="pl-c"><span class="pl-c">--</span> into local variables.</span>

obj2 <span class="pl-k">=</span>
	<span class="pl-en">numbers</span><span class="pl-k">:</span> <span class="pl-k">{</span><span class="pl-c1">1</span><span class="pl-k">,</span> <span class="pl-c1">2</span><span class="pl-k">,</span> <span class="pl-c1">3</span><span class="pl-k">,</span> <span class="pl-c1">4</span><span class="pl-k">}</span>
	<span class="pl-en">properties</span><span class="pl-k">:</span>
		<span class="pl-en">color</span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>green<span class="pl-pds">"</span></span>
		<span class="pl-en">height</span><span class="pl-k">:</span> <span class="pl-c1">13.5</span>

<span class="pl-k">{</span><span class="pl-en">numbers</span><span class="pl-k">:</span> <span class="pl-k">{</span>first<span class="pl-k">,</span> second<span class="pl-k">}</span><span class="pl-k">,</span> <span class="pl-en">properties</span><span class="pl-k">:</span> <span class="pl-k">{</span><span class="pl-k">:</span>color<span class="pl-k">}}</span> <span class="pl-k">=</span> obj2

<span class="pl-c1">print</span> first<span class="pl-k">,</span> second<span class="pl-k">,</span> color <span class="pl-c"><span class="pl-c">--</span> 1 2 green</span>

<span class="pl-c"><span class="pl-c">--</span> `first` and `second` return [1] and [2] because they are as an array, but</span>
<span class="pl-c"><span class="pl-c">--</span> `:color` is like `color: color` so it sets itself to the `color` value.</span>

<span class="pl-c"><span class="pl-c">--</span> Destructuring can be used in place of `import`.</span>

<span class="pl-k">{</span><span class="pl-k">:</span>max<span class="pl-k">,</span> <span class="pl-k">:</span>min<span class="pl-k">,</span> <span class="pl-en">random</span><span class="pl-k">:</span> rand<span class="pl-k">}</span> <span class="pl-k">=</span> math <span class="pl-c"><span class="pl-c">--</span> rename math.random to rand</span>

<span class="pl-c"><span class="pl-c">--</span> Destructuring can be done anywhere assignment can be done.</span>

<span class="pl-k">for</span> <span class="pl-k">{</span>left<span class="pl-k">,</span> right<span class="pl-k">}</span> <span class="pl-k">in</span> <span class="pl-k">*</span><span class="pl-k">{{</span><span class="pl-s"><span class="pl-pds">"</span>hello<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>world<span class="pl-pds">"</span></span><span class="pl-k">}</span><span class="pl-k">,</span> <span class="pl-k">{</span><span class="pl-s"><span class="pl-pds">"</span>egg<span class="pl-pds">"</span></span><span class="pl-k">,</span> <span class="pl-s"><span class="pl-pds">"</span>head<span class="pl-pds">"</span></span><span class="pl-k">}}</span>
	<span class="pl-c1">print</span> left<span class="pl-k">,</span> right</pre></div>
<h2>Additional Resources</h2>
<ul>
<li><a href="https://moonscript.org/reference/" rel="nofollow">Language Guide</a></li>
<li><a href="https://moonscript.org/compiler/" rel="nofollow">Online Compiler</a></li>
</ul>
<hr>
<h2>Contributors</h2>
<ul>
<li>["RyanSquared", "https://ryansquared.github.io/"]
<ul>
<li>["Job van der Zwan", "https://github.com/JobLeonard"]</li>
</ul>
</li>
</ul>