<h1>Neat</h1>
<p>Neat is basically a smaller version of D1 with some experimental syntax and a focus on terseness without losing the basic C-like syntax.</p>
<p><a href="https://github.com/FeepingCreature/fcc/wiki">Read more here.</a></p>
<div class="highlight highlight-source-c"><pre class="notranslate"><span class="pl-c"><span class="pl-c">//</span> single line comments start with //</span>
<span class="pl-c"><span class="pl-c">/*</span></span>
<span class="pl-c">  multiline comments look like this</span>
<span class="pl-c"><span class="pl-c">*/</span></span>
/+
  or this
  /+ these can be nested too, same as D +/
+/

<span class="pl-c"><span class="pl-c">//</span> Module name. This has to match the filename/directory.</span>
module LearnNeat;

<span class="pl-c"><span class="pl-c">//</span> Make names from another module visible in this one.</span>
import std.file;
<span class="pl-c"><span class="pl-c">//</span> You can import multiple things at once.</span>
import std.math, std.util;
<span class="pl-c"><span class="pl-c">//</span> You can even group up imports!</span>
import std.(process, socket);

<span class="pl-c"><span class="pl-c">//</span> Global functions!</span>
<span class="pl-k">void</span> <span class="pl-en">foo</span>() { }

<span class="pl-c"><span class="pl-c">//</span> Main function, same as in C.</span>
<span class="pl-c"><span class="pl-c">//</span> string[] == "array of strings".</span>
<span class="pl-c"><span class="pl-c">//</span> "string" is just an alias for char[],</span>
<span class="pl-k">void</span> <span class="pl-en">main</span>(string[] args) {
  <span class="pl-c"><span class="pl-c">//</span> Call functions with "function expression".</span>
  writeln <span class="pl-s"><span class="pl-pds">"</span>Hello World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> You can do it like in C too... if you really want.</span>
  <span class="pl-c1">writeln</span> (<span class="pl-s"><span class="pl-pds">"</span>Hello World<span class="pl-pds">"</span></span>);
  <span class="pl-c"><span class="pl-c">//</span> Declare a variable with "type identifier"</span>
  string arg = (<span class="pl-s"><span class="pl-pds">"</span>Hello World<span class="pl-pds">"</span></span>);
  writeln arg;
  <span class="pl-c"><span class="pl-c">//</span> (expression, expression) forms a tuple.</span>
  <span class="pl-c"><span class="pl-c">//</span> There are no one-value tuples though.</span>
  <span class="pl-c"><span class="pl-c">//</span> So you can always use () in the mathematical sense.</span>
  <span class="pl-c"><span class="pl-c">//</span> (string) arg; &lt;- is an error</span>

  <span class="pl-c"><span class="pl-c">/*</span></span>
<span class="pl-c">    byte: 8 bit signed integer</span>
<span class="pl-c">      char: 8 bit UTF-8 byte component.</span>
<span class="pl-c">    short: 16 bit signed integer</span>
<span class="pl-c">    int: 32 bit signed integer</span>
<span class="pl-c">    long: 64 bit signed integer</span>
<span class="pl-c"></span>
<span class="pl-c">    float: 32 bit floating point</span>
<span class="pl-c">    double: 64 bit floating point</span>
<span class="pl-c">    real: biggest native size floating point (80 bit on x86).</span>
<span class="pl-c"></span>
<span class="pl-c">    bool: true or false</span>
<span class="pl-c">  <span class="pl-c">*/</span></span>
  <span class="pl-k">int</span> a = <span class="pl-c1">5</span>;
  <span class="pl-k">bool</span> b = <span class="pl-c1">true</span>;
  <span class="pl-c"><span class="pl-c">//</span> as in C, &amp;&amp; and || are short-circuit evaluating.</span>
  b = b &amp;&amp; <span class="pl-c1">false</span>;
  <span class="pl-c1">assert</span>(b == <span class="pl-c1">false</span>);
  <span class="pl-c"><span class="pl-c">//</span> "" are "format strings". So $variable will be substituted at runtime</span>
  <span class="pl-c"><span class="pl-c">//</span> with a formatted version of the variable.</span>
  writeln <span class="pl-s"><span class="pl-pds">"</span>$a<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> This will just print $a.</span>
  writeln `$a`;
  <span class="pl-c"><span class="pl-c">//</span> you can format expressions with $()</span>
  writeln <span class="pl-s"><span class="pl-pds">"</span>$(2+2)<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Note: there is no special syntax for characters.</span>
  <span class="pl-k">char</span> c = <span class="pl-s"><span class="pl-pds">"</span>a<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Cast values by using type: expression.</span>
  <span class="pl-c"><span class="pl-c">//</span> There are three kinds of casts:</span>
  <span class="pl-c"><span class="pl-c">//</span> casts that just specify conversions that would be happening automatically</span>
  <span class="pl-c"><span class="pl-c">//</span> (implicit casts)</span>
  <span class="pl-k">float</span> f = <span class="pl-k">float</span>:<span class="pl-c1">5</span>;
  <span class="pl-k">float</span> f2 = <span class="pl-c1">5</span>; <span class="pl-c"><span class="pl-c">//</span> would also work</span>
  <span class="pl-c"><span class="pl-c">//</span> casts that require throwing away information or complicated computation -</span>
  <span class="pl-c"><span class="pl-c">//</span> those must always be done explicitly</span>
  <span class="pl-c"><span class="pl-c">//</span> (conversion casts)</span>
  <span class="pl-k">int</span> i = <span class="pl-k">int</span>:f;
  <span class="pl-c"><span class="pl-c">//</span> int i = f; // would not work!</span>
  <span class="pl-c"><span class="pl-c">//</span> and, as a last attempt, casts that just reinterpret the raw data.</span>
  <span class="pl-c"><span class="pl-c">//</span> Those only work if the types have the same size.</span>
  string s = <span class="pl-s"><span class="pl-pds">"</span>Hello World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Arrays are (length, pointer) pairs.</span>
  <span class="pl-c"><span class="pl-c">//</span> This is a tuple type. Tuple types are (type, type, type).</span>
  <span class="pl-c"><span class="pl-c">//</span> The type of a tuple expression is a tuple type. (duh)</span>
  (<span class="pl-k">int</span>, <span class="pl-k">char</span>*) array = (<span class="pl-k">int</span>, <span class="pl-k">char</span>*): s;
  <span class="pl-c"><span class="pl-c">//</span> You can index arrays and tuples using the expression[index] syntax.</span>
  writeln <span class="pl-s"><span class="pl-pds">"</span>pointer is $(array[1]) and length is $(array[0])<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> You can slice them using the expression[from .. to] syntax.</span>
  <span class="pl-c"><span class="pl-c">//</span> Slicing an array makes another array.</span>
  writeln <span class="pl-s"><span class="pl-pds">"</span>$(s[0..5]) World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Alias name = expression gives the expression a name.</span>
  <span class="pl-c"><span class="pl-c">//</span> As opposed to a variable, aliases do not have an address</span>
  <span class="pl-c"><span class="pl-c">//</span> and can not be assigned to. (Unless the expression is assignable)</span>
  alias range = <span class="pl-c1">0</span> .. <span class="pl-c1">5</span>;
  writeln <span class="pl-s"><span class="pl-pds">"</span>$(s[range]) World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> You can iterate over ranges.</span>
  <span class="pl-k">for</span> <span class="pl-k">int</span> i &lt;- range {
    <span class="pl-c1">write</span> <span class="pl-s"><span class="pl-pds">"</span>$(s[i])<span class="pl-pds">"</span></span>;
  }
  writeln <span class="pl-s"><span class="pl-pds">"</span> World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Note that if "range" had been a variable, it would be 'empty' now!</span>
  <span class="pl-c"><span class="pl-c">//</span> Range variables can only be iterated once.</span>
  <span class="pl-c"><span class="pl-c">//</span> The syntax for iteration is "expression &lt;- iterable".</span>
  <span class="pl-c"><span class="pl-c">//</span> Lots of things are iterable.</span>
  <span class="pl-k">for</span> <span class="pl-k">char</span> c &lt;- <span class="pl-s"><span class="pl-pds">"</span>Hello<span class="pl-pds">"</span></span> { <span class="pl-c1">write</span> <span class="pl-s"><span class="pl-pds">"</span>$c<span class="pl-pds">"</span></span>; }
  writeln <span class="pl-s"><span class="pl-pds">"</span> World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> For loops are "for test statement";</span>
  alias test = <span class="pl-k">char</span> d &lt;- <span class="pl-s"><span class="pl-pds">"</span>Hello<span class="pl-pds">"</span></span>;
  <span class="pl-k">for</span> test <span class="pl-c1">write</span> <span class="pl-s"><span class="pl-pds">"</span>$d<span class="pl-pds">"</span></span>;
  writeln <span class="pl-s"><span class="pl-pds">"</span> World<span class="pl-cce">\t\x05</span><span class="pl-pds">"</span></span>; <span class="pl-c"><span class="pl-c">//</span> note: escapes work</span>
  <span class="pl-c"><span class="pl-c">//</span> Pointers: function the same as in C, btw. The usual.</span>
  <span class="pl-c"><span class="pl-c">//</span> Do note: the pointer star sticks with the TYPE, not the VARIABLE!</span>
  string* p;
  <span class="pl-c1">assert</span>(p == null); <span class="pl-c"><span class="pl-c">//</span> default initializer</span>
  p = &amp;s;
  writeln <span class="pl-s"><span class="pl-pds">"</span>$(*p)<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> Math operators are (almost) standard.</span>
  <span class="pl-k">int</span> x = <span class="pl-c1">2</span> + <span class="pl-c1">3</span> * <span class="pl-c1">4</span> &lt;&lt; <span class="pl-c1">5</span>;
  <span class="pl-c"><span class="pl-c">//</span> Note: XOR is "xor". ^ is reserved for exponentiation (once I implement that).</span>
  <span class="pl-k">int</span> y = <span class="pl-c1">3</span> xor <span class="pl-c1">5</span>;
  <span class="pl-k">int</span> z = <span class="pl-c1">5</span>;
  <span class="pl-c1">assert</span>(z++ == <span class="pl-c1">5</span>);
  <span class="pl-c1">assert</span>(++z == <span class="pl-c1">7</span>);
  writeln <span class="pl-s"><span class="pl-pds">"</span>x $x y $y z $z<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> As in D, ~ concatenates.</span>
  string hewo = <span class="pl-s"><span class="pl-pds">"</span>Hello <span class="pl-pds">"</span></span> ~ <span class="pl-s"><span class="pl-pds">"</span>World<span class="pl-pds">"</span></span>;
  <span class="pl-c"><span class="pl-c">//</span> == tests for equality, "is" tests for identity.</span>
  <span class="pl-c1">assert</span>  (hewo == s);
  assert !(hewo is s);
  <span class="pl-c"><span class="pl-c">//</span> same as</span>
  <span class="pl-c1">assert</span>  (hewo !is s);

  <span class="pl-c"><span class="pl-c">//</span> Allocate arrays using "new array length"</span>
  <span class="pl-k">int</span>[] integers = new <span class="pl-k">int</span>[] <span class="pl-c1">10</span>;
  <span class="pl-c1">assert</span>(integers.<span class="pl-smi">length</span> == <span class="pl-c1">10</span>);
  <span class="pl-c1">assert</span>(integers[<span class="pl-c1">0</span>] == <span class="pl-c1">0</span>); <span class="pl-c"><span class="pl-c">//</span> zero is default initializer</span>
  integers = integers ~ <span class="pl-c1">5</span>; <span class="pl-c"><span class="pl-c">//</span> This allocates a new array!</span>
  <span class="pl-c1">assert</span>(integers.<span class="pl-smi">length</span> == <span class="pl-c1">11</span>);

  <span class="pl-c"><span class="pl-c">//</span> This is an appender array.</span>
  <span class="pl-c"><span class="pl-c">//</span> Instead of (length, pointer), it tracks (capacity, length, pointer).</span>
  <span class="pl-c"><span class="pl-c">//</span> When you append to it, it will use the free capacity if it can.</span>
  <span class="pl-c"><span class="pl-c">//</span> If it runs out of space, it reallocates - but it will free the old array automatically.</span>
  <span class="pl-c"><span class="pl-c">//</span> This makes it convenient for building arrays.</span>
  <span class="pl-k">int</span>[<span class="pl-k">auto</span>~] appender;
  appender ~= <span class="pl-c1">2</span>;
  appender ~= <span class="pl-c1">3</span>;
  appender.<span class="pl-c1">free</span>(); <span class="pl-c"><span class="pl-c">//</span> same as {mem.free(appender.ptr); appender = null;}</span>

  <span class="pl-c"><span class="pl-c">//</span> Scope variables are automatically freed at the end of the current scope.</span>
  scope <span class="pl-k">int</span>[<span class="pl-k">auto</span>~] someOtherAppender;
  <span class="pl-c"><span class="pl-c">//</span> This is the same as:</span>
  <span class="pl-k">int</span>[<span class="pl-k">auto</span>~] someOtherAppender2;
  onExit { someOtherAppender2.<span class="pl-smi">free</span>; }

  <span class="pl-c"><span class="pl-c">//</span> You can do a C for loop too</span>
  <span class="pl-c"><span class="pl-c">//</span> - but why would you want to?</span>
  <span class="pl-k">for</span> (<span class="pl-k">int</span> i = <span class="pl-c1">0</span>; i &lt; <span class="pl-c1">5</span>; ++i) { }
  <span class="pl-c"><span class="pl-c">//</span> Otherwise, for and while are the same.</span>
  <span class="pl-k">while</span> <span class="pl-k">int</span> i &lt;- <span class="pl-c1">0</span>..<span class="pl-c1">4</span> {
    <span class="pl-c1">assert</span>(i == <span class="pl-c1">0</span>);
    <span class="pl-k">break</span>; <span class="pl-c"><span class="pl-c">//</span> continue works too</span>
  } then <span class="pl-smi">assert</span>(<span class="pl-c1">false</span>); <span class="pl-c"><span class="pl-c">//</span> if we hadn't break'd, this would run at the end</span>
  <span class="pl-c"><span class="pl-c">//</span> This is the height of loopdom - the produce-test-consume loop.</span>
  <span class="pl-k">do</span> {
    <span class="pl-k">int</span> i = <span class="pl-c1">5</span>;
  } <span class="pl-k">while</span> (i == <span class="pl-c1">5</span>) {
    <span class="pl-c1">assert</span>(i == <span class="pl-c1">5</span>);
    <span class="pl-k">break</span>; <span class="pl-c"><span class="pl-c">//</span> otherwise we'd go back up to do {</span>
  }

  <span class="pl-c"><span class="pl-c">//</span> This is a nested function.</span>
  <span class="pl-c"><span class="pl-c">//</span> Nested functions can access the surrounding function.</span>
  string <span class="pl-smi">returnS</span>() { <span class="pl-k">return</span> s; }
  writeln <span class="pl-smi">returnS</span>();

  <span class="pl-c"><span class="pl-c">//</span> Take the address of a function using &amp;</span>
  <span class="pl-c"><span class="pl-c">//</span> The type of a global function is ReturnType function(ParameterTypeTuple).</span>
  <span class="pl-k">void</span> <span class="pl-smi">function</span>() foop = &amp;foo;

  <span class="pl-c"><span class="pl-c">//</span> Similarly, the type of a nested function is ReturnType delegate(ParameterTypeTuple).</span>
  string <span class="pl-smi">delegate</span>() returnSp = &amp;returnS;
  writeln <span class="pl-smi">returnSp</span>();
  <span class="pl-c"><span class="pl-c">//</span> Class member functions and struct member functions also fit into delegate variables.</span>
  <span class="pl-c"><span class="pl-c">//</span> In general, delegates are functions that carry an additional context pointer.</span>
  <span class="pl-c"><span class="pl-c">//</span> ("fat pointers" in C)</span>

  <span class="pl-c"><span class="pl-c">//</span> Allocate a "snapshot" with "new delegate".</span>
  <span class="pl-c"><span class="pl-c">//</span> Snapshots are not closures! I used to call them closures too,</span>
  <span class="pl-c"><span class="pl-c">//</span> but then my Haskell-using friends yelled at me so I had to stop.</span>
  <span class="pl-c"><span class="pl-c">//</span> The difference is that snapshots "capture" their surrounding context</span>
  <span class="pl-c"><span class="pl-c">//</span> when "new" is used.</span>
  <span class="pl-c"><span class="pl-c">//</span> This allows things like this</span>
  <span class="pl-k">int</span> <span class="pl-smi">delegate</span>(<span class="pl-k">int</span>) <span class="pl-c1">add</span>(<span class="pl-k">int</span> a) {
    <span class="pl-k">int</span> <span class="pl-smi">add_a</span>(<span class="pl-k">int</span> b) { <span class="pl-k">return</span> a + b; }
    <span class="pl-c"><span class="pl-c">//</span> This does not work - the context of add_a becomes invalid</span>
    <span class="pl-c"><span class="pl-c">//</span> when add returns.</span>
    <span class="pl-c"><span class="pl-c">//</span> return &amp;add_a;</span>
    <span class="pl-c"><span class="pl-c">//</span> Instead:</span>
    <span class="pl-k">return</span> new &amp;add_a;
  }
  <span class="pl-k">int</span> <span class="pl-smi">delegate</span>(<span class="pl-k">int</span>) dg = add <span class="pl-c1">2</span>;
  <span class="pl-c1">assert</span> (<span class="pl-c1">dg</span>(<span class="pl-c1">3</span>) == <span class="pl-c1">5</span>);
  <span class="pl-c"><span class="pl-c">//</span> or</span>
  <span class="pl-c1">assert</span> (((add <span class="pl-c1">2</span>) <span class="pl-c1">3</span>) == <span class="pl-c1">5</span>);
  <span class="pl-c"><span class="pl-c">//</span> or</span>
  <span class="pl-c1">assert</span> (add <span class="pl-c1">2</span> <span class="pl-c1">3</span> == <span class="pl-c1">5</span>);
  <span class="pl-c"><span class="pl-c">//</span> add can also be written as</span>
  <span class="pl-k">int</span> <span class="pl-smi">delegate</span>(<span class="pl-k">int</span>) <span class="pl-c1">add2</span>(<span class="pl-k">int</span> a) {
    <span class="pl-c"><span class="pl-c">//</span> this is an implicit, nameless nested function.</span>
    <span class="pl-k">return</span> new λ(<span class="pl-k">int</span> b) { <span class="pl-k">return</span> a + b; }
  }
  <span class="pl-c"><span class="pl-c">//</span> or even</span>
  <span class="pl-k">auto</span> <span class="pl-smi">add3</span>(<span class="pl-k">int</span> a) { <span class="pl-k">return</span> new λ(<span class="pl-k">int</span> b) -&gt; a + b; }
  <span class="pl-c"><span class="pl-c">//</span> hahahaaa</span>
  <span class="pl-k">auto</span> add4 = λ(<span class="pl-k">int</span> a) -&gt; new λ(<span class="pl-k">int</span> b) -&gt; a + b;
  <span class="pl-c1">assert</span>(add4 <span class="pl-c1">2</span> <span class="pl-c1">3</span> == <span class="pl-c1">5</span>);
  <span class="pl-c"><span class="pl-c">//</span> If your keyboard doesn't have a λ (you poor sod)</span>
  <span class="pl-c"><span class="pl-c">//</span> you can use \ too.</span>
  <span class="pl-k">auto</span> add5 = \(<span class="pl-k">int</span> a) -&gt; new \(<span class="pl-k">int</span> b) -&gt; a + b;
  <span class="pl-c"><span class="pl-c">//</span> Note!</span>
  <span class="pl-k">auto</span> nestfun = λ() { } <span class="pl-c"><span class="pl-c">//</span> There is NO semicolon needed here!</span>
  <span class="pl-c"><span class="pl-c">//</span> "}" can always substitute for "};".</span>
  <span class="pl-c"><span class="pl-c">//</span> This provides syntactic consistency with built-in statements.</span>


  <span class="pl-c"><span class="pl-c">//</span> This is a class.</span>
  <span class="pl-c"><span class="pl-c">//</span> Note: almost all elements of Neat can be used on the module level</span>
  <span class="pl-c"><span class="pl-c">//</span>       or just as well inside a function.</span>
  class C {
    <span class="pl-k">int</span> a;
    <span class="pl-k">void</span> <span class="pl-smi">writeA</span>() { writeln <span class="pl-s"><span class="pl-pds">"</span>$a<span class="pl-pds">"</span></span>; }
    <span class="pl-c"><span class="pl-c">//</span> It's a nested class - it exists in the context of main().</span>
    <span class="pl-c"><span class="pl-c">//</span> so if you leave main(), any instances of C become invalid.</span>
    <span class="pl-k">void</span> <span class="pl-smi">writeS</span>() { writeln <span class="pl-s"><span class="pl-pds">"</span>$s<span class="pl-pds">"</span></span>; }
  }
  C cc = new C;
  <span class="pl-c"><span class="pl-c">//</span> cc is a *reference* to C. Classes are always references.</span>
  cc.<span class="pl-smi">a</span> = <span class="pl-c1">5</span>; <span class="pl-c"><span class="pl-c">//</span> Always used for property access.</span>
  <span class="pl-k">auto</span> ccp = &amp;cc;
  (*ccp).<span class="pl-smi">a</span> = <span class="pl-c1">6</span>;
  <span class="pl-c"><span class="pl-c">//</span> or just</span>
  ccp.<span class="pl-smi">a</span> = <span class="pl-c1">7</span>;
  cc.<span class="pl-c1">writeA</span>();
  cc.<span class="pl-c1">writeS</span>(); <span class="pl-c"><span class="pl-c">//</span> to prove I'm not making things up</span>
  <span class="pl-c"><span class="pl-c">//</span> Interfaces work same as in D, basically. Or Java.</span>
  interface E { <span class="pl-k">void</span> <span class="pl-smi">doE</span>(); }
  <span class="pl-c"><span class="pl-c">//</span> Inheritance works same as in D, basically. Or Java.</span>
  class D : C, E {
    override <span class="pl-k">void</span> <span class="pl-smi">writeA</span>() { writeln <span class="pl-s"><span class="pl-pds">"</span>hahahahaha no<span class="pl-pds">"</span></span>; }
    override <span class="pl-k">void</span> <span class="pl-smi">doE</span>() { writeln <span class="pl-s"><span class="pl-pds">"</span>eeeee<span class="pl-pds">"</span></span>; }
    <span class="pl-c"><span class="pl-c">//</span> all classes inherit from Object. (toString is defined in Object)</span>
    override string <span class="pl-smi">toString</span>() { <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">"</span>I am a D<span class="pl-pds">"</span></span>; }
  }
  C cd = new D;
  <span class="pl-c"><span class="pl-c">//</span> all methods are always virtual.</span>
  cd.<span class="pl-c1">writeA</span>();
  E e = E:cd; <span class="pl-c"><span class="pl-c">//</span> dynamic class cast!</span>
  e.<span class="pl-c1">doE</span>();
  writeln <span class="pl-s"><span class="pl-pds">"</span>$e<span class="pl-pds">"</span></span>; <span class="pl-c"><span class="pl-c">//</span> all interfaces convert to Object implicitly.</span>

  <span class="pl-c"><span class="pl-c">//</span> Templates!</span>
  <span class="pl-c"><span class="pl-c">//</span> Templates are parameterized namespaces, taking a type as a parameter.</span>
  template <span class="pl-smi">Templ</span>(T) {
    alias hi = <span class="pl-c1">5</span>, hii = <span class="pl-c1">8</span>;
    <span class="pl-c"><span class="pl-c">//</span> Templates always have to include something with the same name as the template</span>
    <span class="pl-c"><span class="pl-c">//</span> - this will become the template's _value_.</span>
    <span class="pl-c"><span class="pl-c">//</span> Static ifs are evaluated statically, at compile-time.</span>
    <span class="pl-c"><span class="pl-c">//</span> Because of this, the test has to be a constant expression,</span>
    <span class="pl-c"><span class="pl-c">//</span> or something that can be optimized to a constant.</span>
    <span class="pl-k">static</span> <span class="pl-smi">if</span> (types-<span class="pl-c1">equal</span> (T, <span class="pl-k">int</span>)) {
      alias Templ = hi;
    } <span class="pl-k">else</span> {
      alias Templ = hii;
    }
  }
  <span class="pl-c1">assert</span>(Templ!<span class="pl-k">int</span> == <span class="pl-c1">5</span>);
  <span class="pl-c1">assert</span>(Templ!<span class="pl-k">float</span> == <span class="pl-c1">8</span>);
}</pre></div>
<h2>Topics Not Covered</h2>
<ul>
<li>Extended iterator types and expressions</li>
<li>Standard library</li>
<li>Conditions (error handling)</li>
<li>Macros</li>
</ul>
<hr>
<h2>Contributors</h2>
<pre class="notranslate"><code class="notranslate">- ["Feep", "https://github.com/FeepingCreature"]
</code></pre>